* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.infoWindow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: none;
  background: white;
  padding: 5px;
  font-size: 17px;
  margin-bottom: 3px;
}

.infoTitle{
  font-size: 25px;
  font-weight: bold;
}

.evse-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.eves {
  margin-right: 5px;
  padding: 3px;
}

.hide{
  display: none;
}

button {
  border:none;
  background: orange;
  color: white;
  padding: 7px;
  font-size: 17px;
  margin: 4px 4px;
}